.profile{
    

    &__one{
        border-bottom: .5px solid #444444;
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h3{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            /* identical to box height, or 188% */


            /* Grey 5 */

            color: #444444;
            margin-bottom: 1rem;

        }

        p{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height, or 157% */
            /* Grey 4 */
            color: #6A6A6A;
        }
    }

    &__two{
        padding: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        &-img{
        padding: 1.5rem;
        text-align: center;
        background: #FFFFFF;
        /* 01 Shadows/Light/zCard */

        box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
        border-radius: 16px;
        width: 27%;
        }

       form{
        display: flex;
        align-items: center;
        width: 70%;

        .form-one{
            width: 100%;
            .one{
                display: flex;
                flex-direction: column;
                margin-right: 2rem;
                width: 90%;
                justify-content: space-between;
                margin-top: 1rem;
                

                label{
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    /* identical to box height, or 157% */


                    /* Grey 4 */

                    color: #6A6A6A;
                    margin-bottom: .5rem;
                }

                input{
                    background: #F5F6FF;
                    opacity: 0.8;
                    border-radius: 8px;
                    padding: 1rem;
                    border: 0;
                    width: 100%;
                    
                }
            }
        }
       }
    }
}