.login{
    padding: 1rem;
    padding-top: 1.5rem;
    background: #F7FAFC;
    height: 100vh;

    .design{
        position: absolute;
        top: 0;
        right: 0;
    }

    .design2{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__main{
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(90, 90, 90, 0.2);
        border-radius: 5px;
        padding: 2rem;
        height: 90vh;
        margin-top: 1rem;

        @media (min-width: 768px){
            width: 40%;
            margin: 0 auto;
            padding: 1rem;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-msg{
            text-align: center;
            margin-top: 2rem;

            @media (min-width: 768px){
                margin-top: 1rem;
            }

            img{
                width: 20%;
                @media (min-width: 768px){
                    width: 12%;
                }
            }

            h4{
                margin-top: 2rem;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height, or 139% */

                text-align: center;

                /* Grey Main */

                color: #1F1F1F;
                @media (min-width: 768px){
                    margin-top: 1.5rem;
                }
            }
        }

        form{
            width: 80%;
            margin: 0 auto;
            margin-top: 1rem;
            .one{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0 auto;
                margin-top: 1.5rem;
    
                label{
                    
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 25px;
                    /* identical to box height, or 167% */
    
                    /* Grey 5 */
                    color: #444444;
                }
                input{
                    padding: 1rem;
                    border: 1px solid #6A6A6A;
                }
            }
    
            .two{
                width: 100%;
                margin: 0 auto;
                margin-top: 1rem;

                label{
                    display: flex;
                    align-items: center;
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 25px;
                    /* identical to box height, or 167% */


                    /* Grey 5 */

                    color: #444444;
                    
                    input{
                        margin-right: .5rem;
                        border: 1px solid #6A6A6A;
                    }
                }
                p{
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 25px;
                    /* identical to box height, or 167% */
    
                    /* Grey 5 */
                    color: #444444;
                    text-align: left;
                }
                button{
                    color: #001AFF;
                    background-color: inherit;
                    border: 0;
                    padding: 0;
                    margin-top: 1rem;
                }
            }
    
          
        }

        &-footer{
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 1rem;

            p{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                /* identical to box height, or 167% */


                /* Grey 4 */

                color: #6A6A6A;
            }

            button{

                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                color: #001AFF;
                    background-color: inherit;
                    border: 0;
                    padding: 0;
                    margin-left: .5rem;
                    
                    
            }
        }
    }
}