.button{
    margin-top: 1rem;
    background: #001AFF;
    border-radius: 5px;
    padding: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #FFFFFF;
    border: 0;
    width: 100%;
}