.connect{
    position: absolute;
    left: 22.5%;
    top: 15%;
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    max-height: 100vh;

    &__header{
        width: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0rem;

        .connect-btn{
            width: 17%;
        }

        &-one{
            h3{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height, or 150% */
                /* Grey 5 */
                color: #444444;
                margin-bottom: 1rem;

            }
    }}

    &__gtb{
        display: flex;
        align-items: center;
        margin: 2rem;

        img{
            border-radius: 20px;
            margin-right: .5rem;
        }

        p{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 48px;
            /* identical to box height, or 150% */


            /* Blue 9 */

            color: #000D80;

        }
    }

    &__details{
        img{
            width: 40%;
            margin-left: 2rem;
        }
        .second{
            width: 48%;
        }
    }
}

.main{
    max-width: 1440px;
}