.settings{
        position: absolute;
        left: 22.5%;
        top: 13%;
        width: 80%;
        padding-left: 2rem;
        padding-right: 2rem;
        max-height: 100vh;
    
        &__header{
            width: 100%;
            padding-left: 2rem;
            margin-bottom: .5rem;


            h3{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height, or 150% */


                /* Grey 5 */

                color: #444444;
            }

            &-btn{
                display: flex;
                align-items: center;
                margin-top: 1.5rem;

                button{
                    border: 0;
                    background-color: inherit;
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    color: #8F8F8F;
                    margin-right: 2rem;

                }
            }
        }
}