.searchbar__form{
    width: 100%;
    position: relative;

    img{
        position: absolute;
        left: 5%;
        top: 15%;

    }
    input{
        width: 100%;
        background: #EFEFEF;
        opacity: 0.8;
        border-radius: 8px;
        padding: .7rem;
        border: 0;
        padding-left: 3rem;
    }
}